.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #eceef2;
  height: 56px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
}
.nav-container {
  display: flex;
  margin-right: 15px;
}

.header-img {
  width: 80px;
  height: 40px;
}
